/* Căn giữa bảng dữ liệu */
#table-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#data-table {
    width: 80%;
    border-collapse: collapse;
    margin: auto;
}

#data-table th, #data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

/* Căn giữa phần tiêu đề */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
}

header h2 {
    font-size: 24px;
    margin-top: 5px;
}

/* Căn phần cập nhật ngưỡng và bật/tắt khẩn cấp trên cùng một dòng */
#input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

#input-container label, 
#input-container select, 
#input-container input, 
#input-container button {
    margin: 0;
}
